/* start of content in overlay */
.promotion-text p {
	line-height:1;
}
/* end of content in overlay */

/* start of bars */

.inner-content-outer:hover .icon-state {
    opacity: 0 !important;
}

.inner-content-outer:hover .icon-hover {
    opacity: 1 !important;
}

.inner-content-outer:hover .inner-content-details-hover {
    opacity: 1 !important;
}

.inner-content-outer:hover .inner-content-details-hover-bg {
    opacity: .34 !important;
}

.col-full-background,
.img-full-background {
    opacity: 1;
}

.col-full-background-overlay {
    transition: all 0s ease-in-out;
}

.active-inner-col .img-full-background,
.active-inner-col .col-full-background-overlay {
    opacity: 0 !important;
}


.active-inner-col .col-full-background.active .img-full-background {
    opacity: 1 !important;
    transform: scale(1.1);
    transition: all 10s ease-out;
    transition-delay: 25ms;
    transition-property: transform;
}

.active-inner-col .col-full-background.active .col-full-background-overlay {
    opacity: .25 !important;
    transition: all 1s ease-in;
}

.active-inner-col .col-full-background.active .col-full-background-overlay {
    transition: all 0s ease-in-out;
}

.active-inner-col .col-full-background.active {
    z-index: 1 !important;
    overflow: visible;
}

/* .col-full-background:last-child .col-full-background-borders {
    border-right: 1px solid white;
} */

.col-full-background:first-child .img-full-background {
    left: 0;
}

/* start of bars mobile */
@media only screen and (max-width:992px) {
    .img-full-background {
        left: 0 !important;
        width: 100%;
        /* object-position: right; */
    }

    .col-full-background {
        height: 35vh;
        min-height: 20vh !important;
        padding-top: 0 !important;
    }

    .section-bars .row .col-md-6:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .col-full-background {
        height: 50vh;
        min-height: 20vh !important;
        padding-top: 0 !important;
    }
}

/* end of bars mobile */

/* end of bars */

/* start of pricing table */
table.pricing-table {
    width: 100%;
    border: 1px solid #226c8a;
}

table.pricing-table th,
table.pricing-table td {
    width: 50%;
    text-align: center;
    color: #fefefe;
}

table.pricing-table th {
    background: black;
}

table.pricing-table tr:nth-child(odd) {
    background: #1b5271;
}

table.pricing-table tr:nth-child(even) {
    background: #0e2948;
}

/* end of pricing table */

/* start of process */
.col-services * {
    transition: all .25s ease-in-out;
}

.col-services:hover .col-services-hover {
    background: var(--accent-secondary);
}

.col-services:hover * {
    color: white !important;
}

/* end of process */

/* start of content + image */
.owl-carousel.h-100 .owl-stage-outer,
.owl-carousel.h-100 .owl-stage-outer .owl-stage,
.owl-carousel.h-100 .owl-stage-outer .owl-stage .owl-item {
    height: 100% !important;
}

/* end of content + image */

/* start of carousel */
.review-carousel .owl-nav {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

button.owl-prev {
    position: absolute;
    left: 20%;
}

button.owl-next {
    position: absolute;
    right: 20%;
}
.yachts-carousel button.owl-prev {
    position: absolute;
    left: -5%;
    top: 25%;
}
.yachts-carousel button.owl-next {
    position: absolute;
    right: -5%;
    top: 25%;
}
.yachts-carousel .owl-prev span, .yachts-carousel .owl-next span {
    color: white;
}
/* end of carousel */

/* start of amenities */
.col-amenities ul li {
    position: relative;
}

.col-amenities ul li:before {
    content: "";
    background: url(https://insideoutcreative.io/wp-content/uploads/2023/07/Diamond.png);
    background-size: 100%;
    position: absolute;
    top: 12px;
    left: -20px;
    width: 9px;
    height: 9px;
}

.col-amenities ul {
    list-style: none;
}
/* end of amenities */