/* start of bars */

.inner-content-outer:hover .icon-state {
    opacity: 0 !important;
}

.inner-content-outer:hover .icon-hover {
    opacity: 1 !important;
}

.inner-content-outer:hover .inner-content-details-hover {
    opacity: 1 !important;
}

.inner-content-outer:hover .inner-content-details-hover-bg {
    opacity: .34 !important;
}

.col-full-background,
.img-full-background {
    opacity: 1;
}

.col-full-background-overlay {
    transition: all 0s ease-in-out;
}

.active-inner-col .img-full-background,
.active-inner-col .col-full-background-overlay {
    opacity: 0 !important;
}


.active-inner-col .col-full-background.active .img-full-background {
    opacity: 1 !important;
    transform: scale(1.1);
    transition: all 10s ease-out;
    transition-delay: 25ms;
    transition-property: transform;
}

.active-inner-col .col-full-background.active .col-full-background-overlay {
    opacity: .25 !important;
    transition: all 1s ease-in;
}

.active-inner-col .col-full-background.active .col-full-background-overlay {
    transition: all 0s ease-in-out;
}

.active-inner-col .col-full-background.active {
    z-index: 1 !important;
    overflow: visible;
}

/* .col-full-background:last-child .col-full-background-borders {
    border-right: 1px solid white;
} */

.col-full-background:first-child .img-full-background {
    left: 0;
}

/* start of bars mobile */
@media only screen and (max-width:992px) {
    .img-full-background {
        left: 0 !important;
        width: 100%;
        /* object-position: right; */
    }

    .col-full-background {
        height: 35vh;
        min-height: 20vh !important;
        padding-top: 0 !important;
    }

    .section-bars .row .col-md-6:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .col-full-background {
        height: 50vh;
        min-height: 20vh !important;
        padding-top: 0 !important;
    }
}

/* end of bars mobile */

/* end of bars */